body {
    text-transform: capitalize;
    background-color: #b8a99c;
}

header {
    text-transform: capitalize;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 100px;
    padding: 20px;
    width: 80%;
    height: 10px;
    color: rgb(53, 22, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    background-color: #b09c8b;
    border-radius: 10px;
    position: sticky;
}

a:link {
    color: #523c29;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(58, 41, 18);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #c87b3c;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(53, 38, 19);
    background-color: transparent;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
}

.cards {
    counter-reset: section;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    /* position: relative; */
    height: 60vh;
    margin-top: 10px;
    background-color: rgb(69 33 33 / 21%);
    border-radius: 10px;
    margin: 20px 10px;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    width: 200px;
}

.card-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards h1 {
    justify-content: center;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height: auto;
        margin: 10px auto;
        width: 90%;
    }

    .hero {
        flex-direction: column;
    }

    .card-two {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 100%;
        height: auto;
    }
}